* { font-family: courier !important }

.score-board {
    float: left;
    padding: 0;
}

.score-board .title {
    padding: 0;
    margin: 0;
}

.active-player-section {
    margin-top: 12px;
}

svg {
    float: left;
}

table th {
    text-align: left;
    padding: 0 12px 0 0;
}

.player .name {
    min-width: 80px;
}